<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<script src='banner.json'></script>
</head>
<body>
<div class='menu'>sds
</div>
<div class='wrap'>
    <div class='box right'>></div>
    <div class='box left'><</div>
    <header>
        <label v-for='(m, index) in bnrLst' v-bind:for="('slide-' + index + '-trigger')">{{index + 1}}</label>
    </header>
    <div v-for='(n, index) in bnrLst'>
        <input class='mySlides' style='display:none'   v-bind:id="('slide-' + index + '-trigger')"  type='radio' name='slides' >
        <section class='slide' v-bind:style="{'background-image': 'url('+ n.myImg + ')'}">
            <section>
                    <h2 v-if='n.myH' style='margin:0px'>{{n.myH}}</h2>
                    <span v-for="o in n.subs" v-if='o.title' style='display:block'>{{o.title}}</span>
                </section>
        </section>
    </div>
</div>
<script src='vue.js'></script> 
<script src='app.js'></script>
</body> 
</html>